body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding-bottom: 50px;
}

div {
    display: inline-block;
}

.cv-wrapper {
    display: block;
    max-width: 700px;
    margin: 100px auto auto auto;
}

header {
    text-align: center;
    margin: 0;
    height: 50px;
}

:is(h1, h2, h3, h4, h5, h6) {
    display: inline-block;
    margin: 0;
}

h2 {
    margin: 10px 10px;
}



img {
    width: 100px;
    height: 40px;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

